body{
  margin: 0;
}

.ui__openMenuButton{
  position: fixed;
}

.ui__container{
  background-color: $bg-color;
  left: 0px;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
}

.fullscreen__toggle{
  position: fixed;
  right: 0px;
}
