body{
  margin: 0;
}

.homepage__container{
  overflow: hidden;
}

.ui__openMenuButton, .fullscreen__toggle{
  background-image: $main-gradient;
  border-radius: 50%;
  color: $bg-color;
  font-size: 30px;
  margin: 20px;
  position: fixed;
  z-index: 2;
}

.fullscreen__toggle{
  right: 0px;
}

.onboard__container{
  align-items: center;
  color: $bg-color;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
}
.onboard__logo{
  height: 100px;
  width: 100px;
}
.onboard__logotype{
  font-family: $header-type;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: $main-gradient;
  color:transparent;
  font-size: 4rem;
  letter-spacing: 4px;
  margin: 0 0 20px 0;
}
.onboard__message{
  background-image: $main-gradient-reverse;
  padding: 20px;
  margin: 0 20px;
}
.onboard__icon{
  font-size: 2rem;
  vertical-align: middle;
}

.ui__container{
  background-color: $bg-color;
  left: 0px;
  margin: 20px;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 3;
}
.ui__toolbar{
  background-image: $main-gradient;
}
.ui__tabbar{
  margin: 20px;
}

.ui__settingsContainer{
  margin: 0 20px;
}

.texture__container, .shape__container{
  margin-bottom: 20px;
  text-align: center;
}
