html{
  overflow: hidden; //used to prevent scrolls affecting render sizes
}

body{
  margin: 0;
}

* {
  font-family: $body-type;
}


#stats-graph{
  bottom: 0 !important;
  left: unset !important;
  right: 0;
  top: unset !important;
}
#video__container{
  display: none;
}
