$bg-color: white;
$body-type: 'Roboto', sans-serif;
$main-gradient: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
$main-gradient-reverse: linear-gradient(225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);

// Overrides RMWC Material Color Defaults
:root {
  --mdc-theme-primary: #FFBAC3;
  --mdc-theme-secondary: #C5C1FF;
}
