// Typography
$type-kumar: 'Kumar One', cursive;
$type-serif: 'Noto Serif', serif;
$type-sans: 'Roboto', sans-serif;

// Colors
$body-color: #5B5B5B;
$bg-color: #F0E9E2;
$bg-grad: radial-gradient(50% 150%, #FFFCF9 0, #e6dbd1 100%);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;

// Branding
.logotype{
  font-family: $type-kumar;
  text-transform: lowercase !important;
}
